/* -------------------- VARIABLES */
:root {
    --main-text-color: #34495e;
    --strong-text-color: #28313b;
    --link-color: #ff5b5e;
    --border-color: #97a4b1;
    --alternative-bg-color: #084e3f;
    --alternative-text-color: #e8eef4; 
}


/* -------------------- GLOBAL DEFAULTS */
body {
    background-color: #5c1917;
    font-family: 'Open Sans', sans-serif;
    }

img {
   max-width: 100%;
}


.news-component-columns {
    display: grid;
    grid-template-columns: 1fr; /* only 1 cols for default (mobile)*/
    grid-gap: 25px;
}




/* -------------------- HEADINGS AND TYPE */
h1,
h2,
h3,
h4,
h5 {
font-family: 'Fira Sans', sans-serif;
font-size: 32px;
line-height: 1.4px;
color: #e1817e;
}

p {
font-family: 'Source Sans Pro', sans-serif;
font-size: 16px;
line-height: 2.4px;
    color: white
}
li {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    line-height: 2.4px;
    color: white;
}


/* -------------------- LAYOUTS */


.content {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 3%;
    padding-right: 3%;
}




/* -------------------- HEADER */
header {
    
}


/* -------------------- NAVIGATION */
/* -------------------- FOOTER */
/* -------------------- MODULES */
