/* -------------------- VARIABLES */
/* -------------------- GLOBAL DEFAULTS */
body {
    background-color: rgb(248, 203, 118);
    font-family: 'Open Sans', sans-serif;
    }

img {
   max-width: 100%;
}


/* -------------------- HEADINGS AND TYPE */
h1,
h2,
h3,
h4,
h5 {
font-family: 'Abril Fatface', cursive;
font-size: 32px;
line-height: 1.4px;
}

h1 {
    color: rgb(189, 7, 67)
}
h2 {
    color: rgb(189, 7, 67)
}
h3
{
    color: rgb(189, 7, 67);
}

h4 {
    color: rgb(189, 7, 67);
}

h5 {
    color: rgb(189, 7, 67);
}

p {
    color: black;

}


/* -------------------- LAYOUTS */


.content {
    background-color: white;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;

}


/* -------------------- HEADER */
header {
    background-color: pink;
}

/* -------------------- NAVIGATION */
/* -------------------- FOOTER */
/* -------------------- MODULES */
